article > * { width: 700px; margin: 0 auto;
}
article h1, article h2, article h3, article h4 { font-family: 'PT Sans Caption', sans-serif; font-weight: bold;
}
article h1 { margin-top: 67px; font-size: 38px; line-height: 45px;
}
article h1 + p { margin-top: 8px; font-family: 'PT Sans Caption', sans-serif; font-size: 22px; line-height: 32px; color: rgba(0,0,0,.4);
}
article h1 + p + p { margin-top: 30px;
}
article h2 { margin-top: 43px; font-size: 32px; line-height: 36px; color: rgba(0, 0, 0, .8);
}
article h2 + p,
article h2 + blockquote { margin-top: 7px;
}
article h3 { margin-top: 36px; font-size: 28px; line-height: 34px; color: rgba(0, 0, 0, .8);
}
article h3 + p,
article h3 + blockquote { margin-top: 6px;
}
article p, article blockquote, article li { margin-top: 29px; font-size: 20px; line-height: 34px;
}
article blockquote { font-style: italic;
  position: relative;
}
article blockquote :before {
  content: "";
  width: 3px;
  height: 100%;
  background: black;
  position: absolute;
  top: 0;
  left: -20px;
}
article img { display: block; width: 1020px; margin: 79px auto 0;
}
article img + h2 { margin-top: 79px;
}
article img + p,
article img + blockquote,
article img + ul { margin-top: 77px;
}
article h2 + img { margin-top: 82px;
}
article h3 + img { margin-top: 81px;
}
article ul {
  list-style-type: disc;
}
article h4 { margin-top: 36px; line-height: 34px; font-size: 17px; color: rgba(0,0,0,.8);
}
article h4 + p,
article h4 + blockquote { margin-top: 5px;
}
