@media all and (max-width: 1340px) {
.sidebar {
  display: none
}
   }
   @media all and (max-width: 1020px) {
   	article img { width: 100%; }
   }

   @media all and (max-width: 1340px) {
   .menubar {
     display: none
   }

      @media all and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
article > * { width: calc(100% - 40px);
  p {width: calc(100% - 22px)}
 }

 @media all and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
	.sidebar { display: none; }
  /* ipad */

@media all and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
body { min-width: 320px; }
article > * { width: calc(100% - 40px); }
/* iphone 5se */

@media all and (min-device-width: 375px) and (max-device-width: 812px) and (orientation: portrait) {
body { min-width: 375px; }
article > * { width: calc(100% - 30px); }
/* iphone x */

@media all and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) {
body { min-width: 414px; }
article > * { width: calc(100% - 30px); }
/* iphone 6/7/8 plus */

@media all and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
body { min-width: 375px; }
article > * { width: calc(100% - 30px); }
/* iphone 6/7/8 */


@media all and (min-device-width: 360px) and (max-device-width: 640px) and (orientation: portrait) {
body { min-width: 360px; }
article > * { width: calc(100% - 30px); }
/* Galaxy S5 */

@media all and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) {
body { min-width: 1024px; }
article > * { width: calc(100% - 44px); }
/* Ipad Pro */

@media all and (min-device-width: 1024px) and (max-device-width: 1280px) and (orientation: portrait) {
body { min-width: 1024px; }
article > * { width: calc(100% - 40px); }
/* Ipad Pro */
 }
